@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Manrope';
}

/* NAVBAR */
header {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: 0 0 7px 0;
}

#logo {
    width: 12vw;
    cursor: pointer;
    padding: 1vw;
    margin-left: 1.5vw;
}

.incategories > input {
    font-weight: bold;
    font-size: 1.2vw;
    text-align: center;
    border-radius: 50px;
    border: none;
    background-color: #F2F2F2;
    padding: .3vw;
    width: 25vw;
    height: 2vw;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li:last-of-type {
    padding-right: 2.5vw;
}

li {
    display: inline-block;
    padding: 0 1.5vw;
    font-size: 1.5vw;
}

a {
    text-align: none;
    color: black;
    text-decoration: none;
}

li a:hover {
    position: relative;
    top: -5px;
    color: grey;
}

#menu {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

/* BODY */
#body {
    background-color: #dce7ec;
    border-radius: 20px;
    margin-top: 3vw;
    margin-right: 2vw;
    margin-left: 2vw;
}

.bodypic {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 5vw;
    padding-bottom: 5vw;
}

#pic1 {
    width: 60vw;
}

#pic2 {
    width: 30%;
}

/* MANGA FEATURE */
.manga {
    margin: 0 50px;
    text-align: left;
    font-size: 25px;
    margin-top: 100px;
    font-family: 'Manrope';
}

.featuredtitle {
    display: flex;
    justify-content: space-between;
}

.featuredtitle > button {
    cursor: pointer;
    padding: .5vw;
    font-size: 1.2vw;
    width: 10vw;
    height: 3.5vw;
    border-radius: 50px;
    border: 5px solid;
    background-color: white;
}

h2 {
    font-size: 3vw;
    margin-bottom: 2vw;
}

.manga .maincontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 35vw;
}

.maincontainer .container {
    width: 15vw;
    height: 30vw;
    cursor: pointer;
    padding: 10px;
    transition: .2s;
}

.maincontainer .container:hover {
    transition: .2s;
    top: -14px;
    transform: scale(1.1);
    background-color: #dce7ec;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    border-radius: 10px;
}

.container > a > img {
    width: 15vw;
    height: 16vw;
}

.description {
    height: 40%;
    font-size: 2vw;
}

.price {
    font-size: 1.9vw;
}

/* BANNER SECTION */
.banner img {
    margin: 8vw 0 8vw 0;
    width: 100%;
    cursor: pointer;
    transition: .2s;
}

.banner img:hover {
    transform: scale(.990);
    transition: .2s;
}

/* NOVEL FEATURE */
.novel {
    margin: 0 50px;
    text-align: left;
    font-size: 25px;
}

.novel .maincontainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* FOOTER */
.footer {
    background-color: rgb(205, 205, 205);
    margin-top: 10vw;
}

.footercol {
    padding: 2vw 0;
}

.footer img {
    width: 15vw;
}

.footer p {
    font-size: 1vw;
}

.social {
    text-align: center;
}

.social a img {
    width: 3vw;
    margin: 0 .7vw;
}

.footerimg {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.footercol {
    text-align: center;
}

.footer p a {
    color: red;
}

#flogo:hover {
    transform: scale(1.2);
}

@media (max-width: 799px) {
    /* NAVBAR */
    #logo {
        width: 30vw;
        padding: 5px;
        margin-left: 20px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        top: 0;
        right: -400px;
        height: 100vh;
        width: 300px;
        position: fixed;
        background-color: #eaeff1;
        box-shadow: 0 40px 60px rgb(0, 0, 0, 0.5);
        padding: 80px 0 0 10px;
        transition: .4s;
    }

    #navbar.active {
        right: 0;
    }

    #navbar li {
        margin-bottom: 25px;
        font-size: 3.5vw;
    }

    li {
        font-size: 5vw;
    }

    #menu {
        display: flex;
        align-items: center;
    }

    #menu img {
        width: 25px;
        margin-right: 25px;
    }

    #close {
        display: flex;
        position: absolute;
        top: 25px;
        left: 25px;
    }

    #close img {
        width: 35px;
    }

    /* BODY */
    #body {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: 100%;
        margin-top: 5vw;
    }

    .bodypic {
        height: 350px;
    }
    
    #pic1 {
        width: 70%;
    }
    
    #pic2 {
        width: 30%;
    }

    .incategories > input {
        display: none;
    }

    /* MANGA */
    .manga {
        margin: 0 25px;
        font-size: 25px;
        margin-top: 50px;
    }

    .featuredtitle > button {
        border: 3px solid;
    }

    .maincontainer .container {
        width: 16vw;
        height: 38vw;
        cursor: pointer;
        padding: 7px;
        transition: .2s;
    }

    .container > a > img {
        width: 15vw;
        height: 22vw;
    }

    .description {
        height: 35%;
        font-size: 2vw;
    }

    /* BANNER */
    .banner img {
        margin: 8vw 0 5vw 0;
    }

    /* NOVEL */
    .novel {
        margin: 0 25px;
        text-align: left;
        font-size: 25px;
        margin-top: 45px;
    }

    .container > a > img {
        width: 16vw;
        height: 20vw;
    }

    /* FOOTER */
    .footerimg {
        justify-content: space-evenly;
        padding-bottom: 10px;
    }

    .footercol img {
        width: 30vw;
        text-align: center;
    }

    .footercol p {
        font-size: 2vw;
    }

    .social a img {
        width: 5vw;
    }

    .links {
        order: -1;
        width: 100%;
        text-align: center;
    }

    .links ul li {
        font-size: 2.5vw;
        margin: 25px 0 25px 0;
    }

    .footercol {
        order: 1;
    }

    .social {
        order: 2;
    }
}

@media (max-width: 430px) {
    /* BODY */
    #body {
        display: flex;
        max-width: 100%;
        height: 100%;
        margin: 45px 13px 0 13px;
    }

    .bodypic {
        flex-direction: column;
        height: 395px;
        width: 100%;
    }

    #pic1 {
        width: 100%;
        padding-bottom: 20px;
    }
    
    #pic2 {
        width: 50%;
    }

    /* MANGA */
    .manga .maincontainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        height: 200vw;
        padding: 0 2vw 0 2vw;
    }

    .manga {
        margin: 0 25px;
        text-align: left;
        font-size: 18px;
        margin-top: 50px;
    }

    h2 {
        font-size: 6vw;
    }

    /* CONTAINER */
    .maincontainer .container {
        width: 35vw;
        height: 58vw;
        cursor: pointer;
        padding: 10px;
        transition: .2s;
    }

    .container > a > img {
        width: 35vw;
        height: 35vw;
    }

    .featuredtitle > button {
        font-size: 2.7vw;
        width: 20vw;
        height: 5vw;
        border: 2px solid;
    }

    .description {
        height: 28%;
        font-size: 3vw;
    }

    .price {
        font-size: 2.7vw;
    }

    /* BANNER */
    .banner img {
        margin: 10vw 0 10vw 0;
    }

    #banner {
        margin-left: -105px;
    }

    .banner img:hover {
        transform: scale(1);
        transition: .2s;
    }

    /* NOVEL */
    .novel {
        text-align: left;
        font-size: 25px;
    }

    /* FOOTER */
    .footercol img {
        width: 40vw;
    }

    .footercol p {
        font-size: 2.5vw;
    }

    .social a img {
        width: 10vw;
    }

    .links ul li {
        font-size: 3.3vw;
    }
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1.5s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}