@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Manrope';
}

/* NAVBAR */
header {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: 0 0 7px 0;
}

#logo {
    width: 12vw;
    cursor: pointer;
    padding: 1vw;
    margin-left: 1.5vw;
}

/* SEARCH BAR */
.incategories > input {
    font-weight: bold;
    font-size: 1.2vw;
    text-align: center;
    border-radius: 50px;
    border: none;
    background-color: #F2F2F2;
    padding: .3vw;
    width: 25vw;
    height: 2vw;
}

.incategories2 > input {
    display: none;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

li {
    display: inline-block;
    padding: 0 1.5vw;
    font-size: 1.5vw;
}

a {
    text-align: none;
    color: black;
    text-decoration: none;
}

li a:hover {
    position: relative;
    top: -5px;
    color: grey;
}

#menu {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

/* BODY */
#body {
    border-radius: 20px;
    padding: 5vw 2vw 5vw 2vw;
}

.bodypic img {
    width: 100%;
}

#pic2 {
    display: none;
}

/*main area*/
.update {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 2vw 0 2vw;
}

.lilupdate {
    display: grid;
    grid-template-areas:
    "img manga"
    "img update";
}

.lilupdate > img {
    width: 5.5vw;
    grid-area: img;
    grid-row: 1 / 3;
}

.lilupdate {
    order: 0;
}

h1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 2.8vw;
    grid-area: manga;
    grid-column: 2 / 3;
    text-align: center;
}

h3 {
    font-size: 1vw;
    grid-area: update;
    grid-column: -1 / -2;
    text-align: center;
}

/* CATEGORIES */
#categories {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#categories ul li {
    cursor: pointer;
    letter-spacing: 1px;
}

#categories ul {
    padding: 0;
}

input {
    width: 15vw;
    padding: 5px;
}

#categories ul li.active {
    color: brown;
    font-weight: bold;
}

#categories ul li:hover {
    transform: scale(1.1);
    text-decoration: underline;
}

/* BUTTON */
.featuredtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.featuredtitle > button {
    width: 15vw;
    height: 3vw;
    border-radius: 50px;
    background-color: #F0D47F;
    font-size: 1.3vw;
    font-weight: bold;
    border: none;
}

/* PRODUCTS */
#container {
    max-width: 100%;
    min-height: 2000px;
    margin: 0 2vw 0 2vw;
    overflow-y: hidden;
}

#compiler {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
    padding: 5px;
}

.item {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    width: 14vw;
    height: 30vw;
    margin: auto;
    text-align: left;
    padding: 10px 10px 0 10px;
    margin-top: 35px;
}

.item.show {
    animation: fadeIn .5s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.item.hide {
    display: none;
}

.item img {
    width: 14vw;
    height: 15vw;
}

.description {
    font-size: 1.4vw;
    height: 35%;
}

.price {
    color: black;
    padding-top: 10px;
    font-size: 1.3vw;
}

.item:hover {
    position: relative;
    top: -14px;
    transform: scale(1.1);
    background-color: #dce7ec;
}

/* BANNER SECTION */
#banner {
    display: block;
}

.banner img {
    margin: 8vw 0 8vw 0;
    float: right;
    width: 90%;
    cursor: pointer;
    transition: .2s;
}

.banner img:hover {
    transform: scale(.990);
    transition: .2s;
}

/* FOOTER */
.footer {
    background-color: rgb(205, 205, 205);
    margin-top: 40vw;
}

.footercol {
    padding: 2vw 0;
}

.footer img {
    width: 15vw;
}

.footer p {
    font-size: 1vw;
}

.social {
    text-align: center;
}

.social a img {
    width: 3vw;
    margin: 0 .7vw;
}

.footerimg {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.footercol {
    text-align: center;
}

.footer p a {
    color: red;
}

#flogo:hover {
    transform: scale(1.2);
}

@media (max-width: 799px) {

    /* NAVBAR */
    #logo {
        width: 180px;
        padding: 5px;
        margin-left: 20px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        top: 0;
        right: -400px;
        height: 100vh;
        width: 300px;
        position: fixed;
        background-color: #eaeff1;
        box-shadow: 0 40px 60px rgb(0, 0, 0, 0.5);
        padding: 80px 0 0 10px;
        transition: .4s;
    }

    #navbar.active {
        right: 0;
    }

    #navbar li {
        margin-bottom: 25px;
        font-size: 3.5vw;
    }

    #menu {
        display: flex;
        align-items: center;
    }

    #menu img {
        width: 25px;
        margin-right: 25px;
    }

    #close {
        display: flex;
        position: absolute;
        top: 25px;
        left: 25px;
    }

    #close img {
        width: 35px;
    }

    #container {
        max-width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .incategories > input {
        display: none;
    }

    .incategories2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .incategories2 > input {
        font-weight: bold;
        font-size: 1.5vw;
        text-align: left;
        border-radius: 50px;
        border: none;
        background-color: #F2F2F2;
        padding: 1vw 2vw;
        width: 50vw;
        height: 3vw;
        display: inline;
    }

    /* UPDATE */
    .update {
        display: grid;
        row-gap: 2vw;
        grid-template-areas: 
        "update searchbar find"
        "categories categories categories";
    }

    .lilupdate > img {
        width: 6.5vw;
    }

    h3 {
        font-size: 1.3vw;
    }

    #categories ul li {
        font-size: 1.8vw;
        letter-spacing: 0;
    }

    .featuredtitle > button {
        font-size: 1.5vw;
        grid-area: find;
        grid-column: 4 / 3;
    }

    /* PRODUCTS */
    .item {
        height: 43vw;
    }

    .item img {
        width: 14vw;
        height: 17vw;
    }

    .description {
        height: 45%;
        font-size: 1.9vw;
    }

    .price {
        font-size: 1.7vw;
    }

    #categories {
        padding: 0;
        grid-area: categories;
    }

    input {
        margin-left: 2%;
        width: 200px;
        height: 3vw;
    }

    /* FOOTER */
    .footerimg {
        justify-content: space-evenly;
        padding-bottom: 10px;
    }

    .footercol img {
        width: 30vw;
        text-align: center;
    }

    .footercol p {
        font-size: 2vw;
    }

    .social a img {
        width: 5vw;
    }

    .links {
        width: 100%;
        text-align: center;
    }

    .links ul li {
        font-size: 2.5vw;
        margin: 25px 0 25px 0;
    }

    ul {
        padding: 0;
    }

    .footercol {
        order: 1;
    }

    .social {
        order: 2;
    }
}

@media (max-width: 429px) {
    /* BODY */
    #body {
        border-radius: 20px;
        padding: 8vw 2vw 8vw 2vw;
    }

    #pic1 {
        display: none;
    }

    #pic2 {
        display: inline;
    }

    /* UPDATE */
    .update {
        row-gap: 5vw;
    }

    .lilupdate > img {
        width: 10vw;
    }

    h1 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        font-size: 4.5vw;
    }

    h3 {
        font-size: 1.8vw;
    }

    .incategories2 > input {
        font-weight: bold;
        font-size: 2vw;
        text-align: left;
        border-radius: 50px;
        border: none;
        background-color: #F2F2F2;
        padding: 1vw 2vw;
        width: 38vw;
        height: 5vw;
        margin: 0;
    }

    .featuredtitle > button {
        font-size: 2vw;
        height: 6vw;
    }

    #categories ul li{
        font-size: 3.5vw;
    }

    /* PRODUCTS */
    .item {
        width: 25vw;
        height: 60vw;
    }

    .item img {
        width: 25vw;
        height: 25vw;
    }

    .item .description {
        font-size: 12px;
    }

    .description {
        height: 38%;
    }

    .item .price {
        font-size: 13px;
    }

    /* BANNER */
    #banner {
        margin-left: -50px;
        height: 30px;
    }

    .banner img {
        margin: 10vw 0 10vw 0;
    }

    #banner {
        margin-left: -125px;
    }

    .banner img:hover {
        transform: scale(1);
        transition: .2s;
    }

    /* FOOTER */
    .footerimg {
        justify-content: space-evenly;
        padding-bottom: 10px;
    }

    .footercol img {
        width: 40vw;
        text-align: center;
    }

    .footercol p {
        font-size: 2.5vw;
    }

    .social a img {
        width: 8vw;
    }

    .links ul li {
        font-size: 3vw;
        margin: 25px 0 25px 0;
    }
}

@media (max-width: 321px) {
    /* PRODUCTS */
    .item {
        width: 35vw;
        height: 80vw;
    }

    .item img {
        width: 35vw;
        height: 35vw;
    }

    /* BANNER */
    .banner img {
        margin: 10vw 0 10vw 0;
        height: 100px;
    }

    #banner {
        margin-left: -100px;
        height: 50px;
    }

    .banner img:hover {
        transform: scale(1);
        transition: .2s;
    }

    /* FOOTER */
    .footercol img {
        width: 40vw;
    }

    .footercol p {
        font-size: 2.5vw;
    }

    .social a img {
        width: 10vw;
    }

    .links ul li {
        font-size: 3.3vw;
    }
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1.5s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}
